extends layout.pug

block content
  .main-block
    .OCR-block
      h1 &#x6587;&#x5B57;&#x8FA8;&#x8B58; &amp; &#x5716;&#x5F62;&#x5708;&#x9078;
      // 檔案上傳/預覽區塊
      form(runat='server')
        input#imgInp(accept='image/*' type='file')
        img#blah(src='#' alt='your image' hidden='')
      br
      .OCR-nav
        button#shapeRemoveBG(disabled='') 圖形去背
        button#removeNotWant &#x53BB;&#x9664;&#x975E;&#x6587;&#x5B57;&#x5340;&#x584A;
        button#OCR &#x6587;&#x5B57;&#x8FA8;&#x8B58;
        // <button id="magicContour">圖形圈選</button>
        button#rectContour &#x65B9;&#x5F62;&#x5708;&#x9078;
        button#shapeView &#x64F7;&#x53D6;
        button#reDraw &#x56DE;&#x5FA9;
      // Canvas
      .OCR-preview
        canvas#fontOCRCanvas(width='600px' height='500px')
    .note-preview-block
      h1 &#x7B46;&#x8A18;&#x9810;&#x89BD;
      .processed-content-nav
        button For&#x6392;&#x7248;
        //
          <button id="prev">上一步</button>
          <button id="next">下一步</button>
          <button id="addfont">新增文字</button>
        br
        br
        input#note-name(type='text' placeholder='筆記名稱')
        button#submit_note &#x78BA;&#x8A8D;&#x4E0A;&#x50B3;
      #note-preview-content.note-edit-block
  script.
    var prev = document.getElementById('prev');
    var next = document.getElementById('next');
  script(src='./js/variables.js')
  script(src='./js/createNote_btn.js')
  script(src='./js/canvas.js')
  script(src='./js/OCR.js')
  script(src='./js/preview.js')