doctype html
html
  head
    link(href='/css/note-upload.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.6.0.js')
    script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js', integrity='sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==', crossorigin='anonymous', referrerpolicy='no-referrer')
  body
    header
      .header
        // <div class="logo"></div>
        .user_page_nav
          #signup
            button#signup-btn &#x8A3B;&#x518A;
          #signin
            button#signin-btn &#x767B;&#x5165;
          #profile
            button#profile-btn &#x6703;&#x54E1;
          #social_page
            button#social-btn &#x793E;&#x7FA4;
          #signup-dialog
            | Email:
            br
            input#signup_useremail
            br
            | Password:
            br
            input#signup_password
            br
            | UserName:
            br
            input#signup_username
            br
            | Photo:
            br
            input#user_picture(type='file')
            br
            br
            button#signup-form-btn &#x8A3B;&#x518A;
          #signin-dialog
            | Email:
            br
            input#signin_useremail
            br
            | Password:
            br
            input#signin_password
            br
            br
            button#signin-form-btn &#x767B;&#x5165;
          #profile-dialog
            #user_picture
              img#user_pic
            #user_email
            #user_name
            button#logout &#x767B;&#x51FA;
    .main-block
      .note-sidebar
        div &#x641C;&#x5C0B;
        div &#x7248;&#x63A7;
        div
          ul
            | &#x7F8E;&#x98DF;
            li &#x6316;&#x994B;
            li &#x51B7;&#x6A02;&#x51B0;
          ul
            | &#x4E0A;&#x8AB2;
            li Docker
            li Http
        .nav-notes
      .update-note-block
        h1 &#x7B46;&#x8A18;&#x7DE8;&#x8F2F;&#x9801;&#x9762;
        .update-note-nav
          input#note-name-search(type='text')
          button#search-notename-btn &#x7B46;&#x8A18;&#x540D;&#x7A31;
          input#notename-search(type='text')
          button#searchText &#x67E5;&#x627E;&#x7B46;&#x8A18;&#x5167;&#x5BB9;
          br
          button#prev &#x4E0A;&#x4E00;&#x6B65;
          button#next &#x4E0B;&#x4E00;&#x6B65;
          button#addfont &#x65B0;&#x589E;&#x6587;&#x5B57;
          button#storeNote &#x5132;&#x5B58;
          button#deleteNote(disabled='') &#x522A;&#x9664;&#x7B46;&#x8A18;
          input#autoSave_box(type='checkbox', name='autoSave', value='autoSave')
          | &#x81EA;&#x52D5;&#x5132;&#x5B58;
          button#newest-version-btn &#x56DE;&#x5FA9;&#x6700;&#x65B0;&#x81EA;&#x52D5;&#x5132;&#x5B58;
          // <button id="screenShot">螢幕截圖</button>
          #version-btn.dropdown
            | &#x7248;&#x672C;&#x9078;&#x64C7;
            .dropdown-content
            button#recovery-btn &#x5FA9;&#x539F;&#x7248;&#x672C;
        span#auto-save-time
        #update-note-content.update-note-content
    // 自動儲存鍵
    script(type='text/javascript').
    script(src='/js/windowLoad.js')
    script(src='/js/user.js')
    script(src='/js/init.js')
    script(src='/js/version.js')
    script(src='/js/restore.js')
    script(src='/js/search.js')
    script(src='/js/autoSave.js')
    script(src='/js/updateNote_btn.js')
    script(src='/js/checkElement.js')