/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: grey;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 16px;
  cursor: pointer;
  /* background-color: #111; */
  /* color: white; */
  /* padding: 10px 15px; */
}

.openbtn:hover {
  background-color: #444;
}

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* 這是留言板的CSS */

/* your CSS goes here*/

.card {
  border-radius: 10px;
  width: 500px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

textarea {
  padding: 15px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  color: #616161;
  border: 1px solid #f5f5f5;
  font-size: 16px;
  letter-spacing: 1px;
  height: 120px !important;
  width: 100%;
}

textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00c853 !important;
  outline-width: 0 !important;
}

select {
  border: none;
  font-size: 15px;
  background-color: #fff !important;
}

select:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0 !important;
}

::placeholder {
  color: #bdbdbd;
}

:-ms-input-placeholder {
  color: #bdbdbd;
}

::-ms-input-placeholder {
  color: #bdbdbd;
}

.btn-success {
  border-radius: 50px;
  padding: 4px 40px;
}

.options {
  font-size: 23px;
  color: #757575;
  cursor: pointer;
}

.options:hover {
  color: #000;
}
