.card-group {
  width: 90%;
  margin: 0 auto;
}

.card {
  margin: 20px 10px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #e0e0e0;
}

/* .showShareDetail {
  width: 800px;
  height: 600px;
  border: 1px black;
} */
