extends layout_errorPage.pug
block content
    main
        .container
        section.section.error-404.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center
            h1 404
            h2 The page you are looking for doesn&apos;t exist.
            a.btn(href='/socailPage') Back to home
            img.img-fluid.py-5(src='assets/img/not-found.svg', alt='Page Not Found')
    // End #main