extends layout_errorPage.pug
block content
    main
        .container
        section.section.error-404.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center
            h1 404
            h2 The page you are looking for doesn&apos;t exist.
            a.btn(href='/signin') Back to home