extends layout.pug

block content
    p 請您登入
    ul#menu
      li.ui-state-disabled
        div Toys (n/a)
      li
        div Books
      li
        div Clothing
      li
        div Electronics
        ul
          li.ui-state-disabled
            div Home Entertainment
          li
            div Car Hifi
          li
            div Utilities
      li
        div Movies
      li
        div Music
        ul
          li
            div Rock
            ul
              li
                div Alternative
              li
                div Classic
          li
            div Jazz
            ul
              li
                div Freejazz
              li
                div Big Band
              li
                div Modern
          li
            div Pop
      li.ui-state-disabled
        div Specials (n/a)