doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    title GoodTidy
    meta(content='', name='description')
    meta(content='', name='keywords')
    // Favicons
    link(href='assets/img/favicon.png', rel='icon')
    link(href='assets/img/apple-touch-icon.png', rel='apple-touch-icon')
    // Google Fonts
    link(href='https://fonts.gstatic.com', rel='preconnect')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i', rel='stylesheet')
    // Vendor CSS Files
    link(href='assets/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css', rel='stylesheet')
    link(href='assets/vendor/boxicons/css/boxicons.min.css', rel='stylesheet')
    link(href='assets/vendor/quill/quill.snow.css', rel='stylesheet')
    link(href='assets/vendor/quill/quill.bubble.css', rel='stylesheet')
    link(href='assets/vendor/remixicon/remixicon.css', rel='stylesheet')
    link(href='assets/vendor/simple-datatables/style.css', rel='stylesheet')

    //- Include Date Range Picker
    script(type='text/javascript', src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')

     //- font & icon
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

    //-  Custom styles for this template
    //- link(href='./css/sidebars.css', rel='stylesheet')
    //- link(href='./css/note-upload.css', rel='stylesheet')
    //- link(href='./css/headers.css', rel='stylesheet')
    //- link(href='./css/commentBar.css', rel='stylesheet')
    //- link(href='./css/social_page.css', rel='stylesheet')


    // Template Main CSS File
    link(href='assets/css/style.css', rel='stylesheet')
    //
      =======================================================
      * Template Name: NiceAdmin - v2.4.0
      * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ========================================================
  body
    // ======= Header =======
    header#header.header.fixed-top.d-flex.align-items-center
      .d-flex.align-items-center.justify-content-between
        a.logo.d-flex.align-items-center(href='index.html')
          img(src='assets/img/goodTidy_logo.png', alt='')
          span.d-none.d-lg-block GoodTidy
        i.bi.bi-list.toggle-sidebar-btn
      // End Logo
      .search-bar
        form.search-form.d-flex.align-items-center(method='POST', action='#')
          input(type='text', name='query', placeholder='Search', title='Enter search keyword')
          button(type='submit', title='Search')
            i.bi.bi-search
      // End Search Bar
      nav.header-nav.ms-auto
        ul.d-flex.align-items-center
          li.nav-item.d-block.d-lg-none
            a.nav-link.nav-icon.search-bar-toggle(href='#')
              i.bi.bi-search
          // End Search Icon
          li.nav-item.dropdown
            a.nav-link.nav-icon(href='#', data-bs-toggle='dropdown')
              i.bi.bi-bell
              span.badge.bg-primary.badge-number 4
            // End Notification Icon
            ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.notifications
              li.dropdown-header
                | You have 4 new notifications
                a(href='#')
                  span.badge.rounded-pill.bg-primary.p-2.ms-2 View all
              li
                hr.dropdown-divider
              li.notification-item
                i.bi.bi-exclamation-circle.text-warning
                div
                  h4 Lorem Ipsum
                  p Quae dolorem earum veritatis oditseno
                  p 30 min. ago
              li
                hr.dropdown-divider
              li.notification-item
                i.bi.bi-x-circle.text-danger
                div
                  h4 Atque rerum nesciunt
                  p Quae dolorem earum veritatis oditseno
                  p 1 hr. ago
              li
                hr.dropdown-divider
              li.notification-item
                i.bi.bi-check-circle.text-success
                div
                  h4 Sit rerum fuga
                  p Quae dolorem earum veritatis oditseno
                  p 2 hrs. ago
              li
                hr.dropdown-divider
              li.notification-item
                i.bi.bi-info-circle.text-primary
                div
                  h4 Dicta reprehenderit
                  p Quae dolorem earum veritatis oditseno
                  p 4 hrs. ago
              li
                hr.dropdown-divider
              li.dropdown-footer
                a(href='#') Show all notifications
            // End Notification Dropdown Items
          // End Notification Nav
          li.nav-item.dropdown
            a.nav-link.nav-icon(href='#', data-bs-toggle='dropdown')
              i.bi.bi-chat-left-text
              span.badge.bg-success.badge-number 3
            // End Messages Icon
            ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.messages
              li.dropdown-header
                | You have 3 new messages
                a(href='#')
                  span.badge.rounded-pill.bg-primary.p-2.ms-2 View all
              li
                hr.dropdown-divider
              li.message-item
                a(href='#')
                  img.rounded-circle(src='assets/img/messages-1.jpg', alt='')
                  div
                    h4 Maria Hudson
                    p
                      | Velit asperiores et ducimus soluta repudiandae labore
                      | officia est ut...
                    p 4 hrs. ago
              li
                hr.dropdown-divider
              li.message-item
                a(href='#')
                  img.rounded-circle(src='assets/img/messages-2.jpg', alt='')
                  div
                    h4 Anna Nelson
                    p
                      | Velit asperiores et ducimus soluta repudiandae labore
                      | officia est ut...
                    p 6 hrs. ago
              li
                hr.dropdown-divider
              li.message-item
                a(href='#')
                  img.rounded-circle(src='assets/img/messages-3.jpg', alt='')
                  div
                    h4 David Muldon
                    p
                      | Velit asperiores et ducimus soluta repudiandae labore
                      | officia est ut...
                    p 8 hrs. ago
              li
                hr.dropdown-divider
              li.dropdown-footer
                a(href='#') Show all messages
            // End Messages Dropdown Items
          // End Messages Nav
          li.nav-item.dropdown.pe-3
            a.nav-link.nav-profile.d-flex.align-items-center.pe-0(href='#', data-bs-toggle='dropdown')
              img.rounded-circle(src='assets/img/profile-img.jpg', alt='Profile')
              span.d-none.d-md-block.dropdown-toggle.ps-2 K. Anderson
            // End Profile Iamge Icon
            ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.profile
              li.dropdown-header
                h6 Kevin Anderson
                span Web Designer
              li
                hr.dropdown-divider
              li
                a.dropdown-item.d-flex.align-items-center(href='users-profile.html')
                  i.bi.bi-person
                  span My Profile
              li
                hr.dropdown-divider
              li
                a.dropdown-item.d-flex.align-items-center(href='users-profile.html')
                  i.bi.bi-gear
                  span Account Settings
              li
                hr.dropdown-divider
              li
                a.dropdown-item.d-flex.align-items-center(href='pages-faq.html')
                  i.bi.bi-question-circle
                  span Need Help?
              li
                hr.dropdown-divider
              li
                a.dropdown-item.d-flex.align-items-center(href='#')
                  i.bi.bi-box-arrow-right
                  span Sign Out
            // End Profile Dropdown Items
          // End Profile Nav
      // End Icons Navigation
    // End Header
    // ======= Sidebar =======
    aside#sidebar.sidebar
      ul#sidebar-nav.sidebar-nav
        //- li.nav-item
        //-   a.nav-link(href='index.html')
        //-     i.bi.bi-grid
        //-     span Dashboard
        // End Dashboard Nav
        li.nav-item
          a.nav-link.collapsed(data-bs-target='#components-nav', data-bs-toggle='collapse', href='#')
            i.bi.bi-menu-button-wide
            span 美食
            i.bi.bi-chevron-down.ms-auto
          ul#components-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
            li
              a(href='components-alerts.html')
                i.bi.bi-circle
                span Alerts
            li
              a(href='components-accordion.html')
                i.bi.bi-circle
                span Accordion
            li
              a(href='components-badges.html')
                i.bi.bi-circle
                span Badges
            li
              a(href='components-breadcrumbs.html')
                i.bi.bi-circle
                span Breadcrumbs
            li
              a(href='components-buttons.html')
                i.bi.bi-circle
                span Buttons
            li
              a(href='components-cards.html')
                i.bi.bi-circle
                span Cards
            li
              a(href='components-carousel.html')
                i.bi.bi-circle
                span Carousel
            li
              a(href='components-list-group.html')
                i.bi.bi-circle
                span List group
            li
              a(href='components-modal.html')
                i.bi.bi-circle
                span Modal
            li
              a(href='components-tabs.html')
                i.bi.bi-circle
                span Tabs
            li
              a(href='components-pagination.html')
                i.bi.bi-circle
                span Pagination
            li
              a(href='components-progress.html')
                i.bi.bi-circle
                span Progress
            li
              a(href='components-spinners.html')
                i.bi.bi-circle
                span Spinners
            li
              a(href='components-tooltips.html')
                i.bi.bi-circle
                span Tooltips
        // End Components Nav
        li.nav-item
          a.nav-link.collapsed(data-bs-target='#forms-nav', data-bs-toggle='collapse', href='#')
            i.bi.bi-journal-text
            span 遊記
            i.bi.bi-chevron-down.ms-auto
          ul#forms-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
            li
              a(href='forms-elements.html')
                i.bi.bi-circle
                span Form Elements
            li
              a(href='forms-layouts.html')
                i.bi.bi-circle
                span Form Layouts
            li
              a(href='forms-editors.html')
                i.bi.bi-circle
                span Form Editors
            li
              a(href='forms-validation.html')
                i.bi.bi-circle
                span Form Validation
        // End Forms Nav
        li.nav-item
          a.nav-link.collapsed(data-bs-target='#tables-nav', data-bs-toggle='collapse', href='#')
            i.bi.bi-layout-text-window-reverse
            span 心情日記
            i.bi.bi-chevron-down.ms-auto
          ul#tables-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
            li
              a(href='tables-general.html')
                i.bi.bi-circle
                span General Tables
            li
              a(href='tables-data.html')
                i.bi.bi-circle
                span Data Tables
        // End Tables Nav
        li.nav-item
          a.nav-link.collapsed(data-bs-target='#charts-nav', data-bs-toggle='collapse', href='#')
            i.bi.bi-bar-chart
            span AppWorks筆記
            i.bi.bi-chevron-down.ms-auto
          ul#charts-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
            li
              a(href='charts-chartjs.html')
                i.bi.bi-circle
                span Chart.js
            li
              a(href='charts-apexcharts.html')
                i.bi.bi-circle
                span ApexCharts
            li
              a(href='charts-echarts.html')
                i.bi.bi-circle
                span ECharts
        // End Charts Nav
        li.nav-item
          a.nav-link.collapsed(data-bs-target='#icons-nav', data-bs-toggle='collapse', href='#')
            i.bi.bi-gem
            span 財富密碼
            i.bi.bi-chevron-down.ms-auto
          ul#icons-nav.nav-content.collapse(data-bs-parent='#sidebar-nav')
            li
              a(href='icons-bootstrap.html')
                i.bi.bi-circle
                span Bootstrap Icons
            li
              a(href='icons-remix.html')
                i.bi.bi-circle
                span Remix Icons
            li
              a(href='icons-boxicons.html')
                i.bi.bi-circle
                span Boxicons
        // End Icons Nav
        //- li.nav-heading Pages
        //- li.nav-item
        //-   a.nav-link.collapsed(href='users-profile.html')
        //-     i.bi.bi-person
        //-     span Profile
        //- // End Profile Page Nav
        //- li.nav-item
        //-   a.nav-link.collapsed(href='pages-faq.html')
        //-     i.bi.bi-question-circle
        //-     span F.A.Q
        //- // End F.A.Q Page Nav
        //- li.nav-item
        //-   a.nav-link.collapsed(href='pages-contact.html')
        //-     i.bi.bi-envelope
        //-     span Contact
        //- // End Contact Page Nav
        //- li.nav-item
        //-   a.nav-link.collapsed(href='pages-register.html')
        //-     i.bi.bi-card-list
        //-     span Register
        //- // End Register Page Nav
        //- li.nav-item
        //-   a.nav-link.collapsed(href='pages-login.html')
        //-     i.bi.bi-box-arrow-in-right
        //-     span Login
        //- // End Login Page Nav
        //- li.nav-item
        //-   a.nav-link.collapsed(href='pages-error-404.html')
        //-     i.bi.bi-dash-circle
        //-     span Error 404
        //- // End Error 404 Page Nav
        //- li.nav-item
        //-   a.nav-link.collapsed(href='pages-blank.html')
        //-     i.bi.bi-file-earmark
        //-     span Blank
        //- // End Blank Page Nav
    // End Sidebar
    main#main.main
      .pagetitle
        h1 筆記編輯
        nav
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Home
            li.breadcrumb-item.active 筆記編輯
      // End Page Title
      section.section.dashboard
        .row
          // Left side columns
          .col-lg-12
            .row
              // Reports
              .col-12
                .card
                  .filter
                    a.icon(href='#', data-bs-toggle='dropdown')
                      i.bi.bi-three-dots
                    ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                      li.dropdown-header.text-start
                        h6 Filter
                      li
                        a.dropdown-item(href='#') Today
                      li
                        a.dropdown-item(href='#') This Month
                      li
                        a.dropdown-item(href='#') This Year
                  .card-body
                    h5.card-title
                      | 心情日記 
                      span /微笑呵呵呵
                    ul.list-unstyled.ps-0(width="90%")

                        //- 檔案上傳
                        button#noteUpload-btn(type='button', data-bs-toggle='modal', data-bs-target='#noteUploadModal', style="font-size:16px")
                            i.fa.fa-solid.fa-upload
                        //- prev step
                        button#prev(style='font-size:16px')
                            i.fa.fa-rotate-left

                        //- next step
                        button#next(style='font-size:16px')
                            i.fa.fa-rotate-right

                        //- add Text
                        button#addfont(style='font-size:16px')
                            i.fa.fa-font

                        //- saveNote
                        button#storeNote(style='font-size:16px')
                            i.fa.fa-floppy-o

                        //- Delete
                        button#deleteNote(style='font-size:16px')
                            i.fa.fa-solid.fa-trash

                        //- Share
                        button#share-btn(style="font-size:16px")
                            i.fa.fa-solid.fa-share

                    img(src='assets/img/notes/smile.png', alt='')
              
              // Recent Sales
              .col-12
                .card.recent-sales.overflow-auto
                  .filter
                    a.icon(href='#', data-bs-toggle='dropdown')
                      i.bi.bi-three-dots
                    ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                      li.dropdown-header.text-start
                        h6 Filter
                      li
                        a.dropdown-item(href='#') Today
                      li
                        a.dropdown-item(href='#') This Month
                      li
                        a.dropdown-item(href='#') This Year
                  .card-body
                    h5.card-title
                      | Recent Sales 
                      span | Today
                    table.table.table-borderless.datatable
                      thead
                        tr
                          th(scope='col') #
                          th(scope='col') Customer
                          th(scope='col') Product
                          th(scope='col') Price
                          th(scope='col') Status
                      tbody
                        tr
                          th(scope='row')
                            a(href='#') #2457
                          td Brandon Jacob
                          td
                            a.text-primary(href='#') At praesentium minu
                          td $64
                          td
                            span.badge.bg-success Approved
                        tr
                          th(scope='row')
                            a(href='#') #2147
                          td Bridie Kessler
                          td
                            a.text-primary(href='#') Blanditiis dolor omnis similique
                          td $47
                          td
                            span.badge.bg-warning Pending
                        tr
                          th(scope='row')
                            a(href='#') #2049
                          td Ashleigh Langosh
                          td
                            a.text-primary(href='#') At recusandae consectetur
                          td $147
                          td
                            span.badge.bg-success Approved
                        tr
                          th(scope='row')
                            a(href='#') #2644
                          td Angus Grady
                          td
                            a.text-primar(href='#') Ut voluptatem id earum et
                          td $67
                          td
                            span.badge.bg-danger Rejected
                        tr
                          th(scope='row')
                            a(href='#') #2644
                          td Raheem Lehner
                          td
                            a.text-primary(href='#') Sunt similique distinctio
                          td $165
                          td
                            span.badge.bg-success Approved
              // End Recent Sales
              // Top Selling
              .col-12
                .card.top-selling.overflow-auto
                  .filter
                    a.icon(href='#', data-bs-toggle='dropdown')
                      i.bi.bi-three-dots
                    ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                      li.dropdown-header.text-start
                        h6 Filter
                      li
                        a.dropdown-item(href='#') Today
                      li
                        a.dropdown-item(href='#') This Month
                      li
                        a.dropdown-item(href='#') This Year
                  .card-body.pb-0
                    h5.card-title
                      | Top Selling 
                      span | Today
                    table.table.table-borderless
                      thead
                        tr
                          th(scope='col') Preview
                          th(scope='col') Product
                          th(scope='col') Price
                          th(scope='col') Sold
                          th(scope='col') Revenue
                      tbody
                        tr
                          th(scope='row')
                            a(href='#')
                              img(src='assets/img/product-1.jpg', alt='')
                          td
                            a.text-primary.fw-bold(href='#') Ut inventore ipsa voluptas nulla
                          td $64
                          td.fw-bold 124
                          td $5,828
                        tr
                          th(scope='row')
                            a(href='#')
                              img(src='assets/img/product-2.jpg', alt='')
                          td
                            a.text-primary.fw-bold(href='#') Exercitationem similique doloremque
                          td $46
                          td.fw-bold 98
                          td $4,508
                        tr
                          th(scope='row')
                            a(href='#')
                              img(src='assets/img/product-3.jpg', alt='')
                          td
                            a.text-primary.fw-bold(href='#') Doloribus nisi exercitationem
                          td $59
                          td.fw-bold 74
                          td $4,366
                        tr
                          th(scope='row')
                            a(href='#')
                              img(src='assets/img/product-4.jpg', alt='')
                          td
                            a.text-primary.fw-bold(href='#') Officiis quaerat sint rerum error
                          td $32
                          td.fw-bold 63
                          td $2,016
                        tr
                          th(scope='row')
                            a(href='#')
                              img(src='assets/img/product-5.jpg', alt='')
                          td
                            a.text-primary.fw-bold(href='#') Sit unde debitis delectus repellendus
                          td $79
                          td.fw-bold 41
                          td $3,239
              // End Top Selling
          // End Left side columns
          // Right side columns
          .col-lg-4
            // Recent Activity
            .card
              .filter
                a.icon(href='#', data-bs-toggle='dropdown')
                  i.bi.bi-three-dots
                ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                  li.dropdown-header.text-start
                    h6 Filter
                  li
                    a.dropdown-item(href='#') Today
                  li
                    a.dropdown-item(href='#') This Month
                  li
                    a.dropdown-item(href='#') This Year
              .card-body
                h5.card-title
                  | Recent Activity 
                  span | Today
                .activity
                  .activity-item.d-flex
                    .activite-label 32 min
                    i.bi.bi-circle-fill.activity-badge.text-success.align-self-start
                    .activity-content
                      | Quia quae rerum
                      a.fw-bold.text-dark(href='#') explicabo officiis
                                          beatae
                  // End activity item
                  .activity-item.d-flex
                    .activite-label 56 min
                    i.bi.bi-circle-fill.activity-badge.text-danger.align-self-start
                    .activity-content
                      | Voluptatem blanditiis blanditiis eveniet
                  // End activity item
                  .activity-item.d-flex
                    .activite-label 2 hrs
                    i.bi.bi-circle-fill.activity-badge.text-primary.align-self-start
                    .activity-content
                      | Voluptates corrupti molestias voluptatem
                  // End activity item
                  .activity-item.d-flex
                    .activite-label 1 day
                    i.bi.bi-circle-fill.activity-badge.text-info.align-self-start
                    .activity-content
                      | Tempore autem saepe
                      a.fw-bold.text-dark(href='#') occaecati voluptatem
                                          tempore
                  // End activity item
                  .activity-item.d-flex
                    .activite-label 2 days
                    i.bi.bi-circle-fill.activity-badge.text-warning.align-self-start
                    .activity-content
                      | Est sit eum reiciendis exercitationem
                  // End activity item
                  .activity-item.d-flex
                    .activite-label 4 weeks
                    i.bi.bi-circle-fill.activity-badge.text-muted.align-self-start
                    .activity-content
                      | Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                  // End activity item
            // End Recent Activity
            // Budget Report
            .card
              .filter
                a.icon(href='#', data-bs-toggle='dropdown')
                  i.bi.bi-three-dots
                ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                  li.dropdown-header.text-start
                    h6 Filter
                  li
                    a.dropdown-item(href='#') Today
                  li
                    a.dropdown-item(href='#') This Month
                  li
                    a.dropdown-item(href='#') This Year
              .card-body.pb-0
                h5.card-title
                  | Budget Report 
                  span | This Month
                #budgetChart.echart(style='min-height: 400px')
                script.
                  document.addEventListener('DOMContentLoaded', () => {
                  var budgetChart = echarts
                  .init(document.querySelector('#budgetChart'))
                  .setOption({
                  legend: {
                  data: ['Allocated Budget', 'Actual Spending'],
                  },
                  radar: {
                  // shape: 'circle',
                  indicator: [
                  {
                  name: 'Sales',
                  max: 6500,
                  },
                  {
                  name: 'Administration',
                  max: 16000,
                  },
                  {
                  name: 'Information Technology',
                  max: 30000,
                  },
                  {
                  name: 'Customer Support',
                  max: 38000,
                  },
                  {
                  name: 'Development',
                  max: 52000,
                  },
                  {
                  name: 'Marketing',
                  max: 25000,
                  },
                  ],
                  },
                  series: [
                  {
                  name: 'Budget vs spending',
                  type: 'radar',
                  data: [
                  {
                  value: [4200, 3000, 20000, 35000, 50000, 18000],
                  name: 'Allocated Budget',
                  },
                  {
                  value: [
                  5000, 14000, 28000, 26000, 42000, 21000,
                  ],
                  name: 'Actual Spending',
                  },
                  ],
                  },
                  ],
                  });
                  });
            // End Budget Report
            // Website Traffic
            .card
              .filter
                a.icon(href='#', data-bs-toggle='dropdown')
                  i.bi.bi-three-dots
                ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                  li.dropdown-header.text-start
                    h6 Filter
                  li
                    a.dropdown-item(href='#') Today
                  li
                    a.dropdown-item(href='#') This Month
                  li
                    a.dropdown-item(href='#') This Year
              .card-body.pb-0
                h5.card-title
                  | Website Traffic 
                  span | Today
                #trafficChart.echart(style='min-height: 400px')
                script.
                  document.addEventListener('DOMContentLoaded', () => {
                  echarts
                  .init(document.querySelector('#trafficChart'))
                  .setOption({
                  tooltip: {
                  trigger: 'item',
                  },
                  legend: {
                  top: '5%',
                  left: 'center',
                  },
                  series: [
                  {
                  name: 'Access From',
                  type: 'pie',
                  radius: ['40%', '70%'],
                  avoidLabelOverlap: false,
                  label: {
                  show: false,
                  position: 'center',
                  },
                  emphasis: {
                  label: {
                  show: true,
                  fontSize: '18',
                  fontWeight: 'bold',
                  },
                  },
                  labelLine: {
                  show: false,
                  },
                  data: [
                  {
                  value: 1048,
                  name: 'Search Engine',
                  },
                  {
                  value: 735,
                  name: 'Direct',
                  },
                  {
                  value: 580,
                  name: 'Email',
                  },
                  {
                  value: 484,
                  name: 'Union Ads',
                  },
                  {
                  value: 300,
                  name: 'Video Ads',
                  },
                  ],
                  },
                  ],
                  });
                  });
            // End Website Traffic
            // News & Updates Traffic
            .card
              .filter
                a.icon(href='#', data-bs-toggle='dropdown')
                  i.bi.bi-three-dots
                ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                  li.dropdown-header.text-start
                    h6 Filter
                  li
                    a.dropdown-item(href='#') Today
                  li
                    a.dropdown-item(href='#') This Month
                  li
                    a.dropdown-item(href='#') This Year
              .card-body.pb-0
                h5.card-title
                  | News &amp; Updates 
                  span | Today
                .news
                  .post-item.clearfix
                    img(src='assets/img/news-1.jpg', alt='')
                    h4
                      a(href='#') Nihil blanditiis at in nihil autem
                    p
                      | Sit recusandae non aspernatur laboriosam. Quia enim
                      | eligendi sed ut harum...
                  .post-item.clearfix
                    img(src='assets/img/news-2.jpg', alt='')
                    h4
                      a(href='#') Quidem autem et impedit
                    p
                      | Illo nemo neque maiores vitae officiis cum eum turos elan
                      | dries werona nande...
                  .post-item.clearfix
                    img(src='assets/img/news-3.jpg', alt='')
                    h4
                      a(href='#') Id quia et et ut maxime similique occaecati ut
                    p
                      | Fugiat voluptas vero eaque accusantium eos. Consequuntur
                      | sed ipsam et totam...
                  .post-item.clearfix
                    img(src='assets/img/news-4.jpg', alt='')
                    h4
                      a(href='#') Laborum corporis quo dara net para
                    p
                      | Qui enim quia optio. Eligendi aut asperiores enim
                      | repellendusvel rerum cuder...
                  .post-item.clearfix
                    img(src='assets/img/news-5.jpg', alt='')
                    h4
                      a(href='#') Et dolores corrupti quae illo quod dolor
                    p
                      | Odit ut eveniet modi reiciendis. Atque cupiditate libero
                      | beatae dignissimos eius...
                // End sidebar recent posts
            // End News & Updates
          // End Right side columns
    // End #main
    // ======= Footer =======
    footer#footer.footer
      .copyright
        | &copy; Copyright 
        strong
          span NiceAdmin
        | . All Rights Reserved
      .credits
        // All the links in the footer should remain intact.
        // You can delete the links only if you purchased the pro version.
        // Licensing information: https://bootstrapmade.com/license/
        // Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        | Designed by 
        a(href='https://bootstrapmade.com/') BootstrapMade
    // End Footer
    a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
      i.bi.bi-arrow-up-short
    // Vendor JS Files
    script(src='assets/vendor/apexcharts/apexcharts.min.js')
    script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='assets/vendor/chart.js/chart.min.js')
    script(src='assets/vendor/echarts/echarts.min.js')
    script(src='assets/vendor/quill/quill.min.js')
    script(src='assets/vendor/simple-datatables/simple-datatables.js')
    script(src='assets/vendor/tinymce/tinymce.min.js')
    script(src='assets/vendor/php-email-form/validate.js')
    // Template Main JS File
    script(src='assets/js/main.js')

    // 自己的JS
    script(src='/js/note.js')
    script(src='/js/windowLoad.js')
    script(src='/js/user.js')
    script(src='/js/init.js')
    script(src='/js/version.js')
    script(src='/js/restore.js')
    script(src='/js/search.js')
    script(src='/js/autoSave.js')
    script(src='/js/updateNote_btn.js')
    script(src='/js/checkElement.js')
    script(src='/js/createNote_btn.js')
    script(src='/js/canvas.js')
    script(src='/js/OCR.js')
    script(src='/js/preview.js')
    script(src='/js/commentBar.js')
    script(src='/js/sidebars.js')
    script(src='/js/social.js')
    script(src='/js/draggable.js')