extends layout_errorPage.pug
block content
    main
        .container
        section.section.error-404.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center
            h4 抱歉！您無權限觀看此文章
            a.btn(href='/note') 回到筆記頁面
            img.img-fluid.py-5(src='/assets/img/not-found.svg', alt='No Auth')
    // End #main