extends layout_main.pug

block content
    main#main.main

      .pagetitle
        h1 筆記編輯
          //- button#search_note_list-btn.btn
          //-   i.fa.fa-search
        
          //- 搜尋bar --------------------
          button#search_note_list-btn.btn(type='button', data-bs-toggle='modal', data-bs-target='#searchModal', style='font-size=16px;')
            i.fa.fa-search
          #searchModal.modal.fade(tabindex='-1', aria-labelledby='searchModalLabel', aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  h5.modal-title 搜尋
                  button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close', position='right')
                #modal-main.modal-body
                  //- 筆記名稱
                .modal-footer
                  //- .input-group
                  input#search_note_list.form-control(type='search', placeholder='search...')
                  button.btn(type='button')
                    i.fa.fa-search
                  //- TODO: 復原時間搜尋功能
                  //- button.btn(type='button')
                  //-   i.fa.fa-calendar
                  //- input#daterange(type="text", name="daterange")
        nav
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/') Home
            li.breadcrumb-item
              a(href='/note') 筆記編輯
            li.breadcrumb-item.active#click_note_classification
            li.breadcrumb-item.active#click_note_name
      // End Page Title
      section.section.dashboard
        .row
          // Left side columns
          .col-lg-12
            .row
              // Reports
              .col-12
                .card
                  .filter
                    a.icon(href='#', data-bs-toggle='dropdown', style="padding: 10px;")
                      i.bi.bi-three-dots
                    ul#note_menu.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                      li.dropdown-header.text-start
                        .form-check.form-switch
                          label.form-check-label(for='flexSwitchCheckDefault') 自動儲存
                          input#autoSave-toggle.form-check-input(type='checkbox', role='switch')
                      li
                        button#newest-version-btn.btn.dropdown-item 本地最新
                      li
                        button#version_list-btn.btn.dropdown-item(data-bs-toggle='modal', data-bs-target='#versionModal') 選擇版本
                      li

                      li
                        button#changeNoteName.btn.dropdown-item 修改筆記名稱
                      li
                        button#moveNote.btn.dropdown-item 搬移筆記
                      li
                        button#deleteNote.btn.dropdown-item 刪除筆記
                  .card-body(style="padding:0px;")
                    ul.list-unstyled.ps-0(width="90%")

                        //- 筆記上傳
                        button#noteUpload-btn.btn(type='button', style="font-size:16px")
                            i.fa.fa-solid.fa-upload

                        //- 儲存筆記鍵
                        button#storeNote.btn(style='font-size:16px')
                            i.fa.fa-floppy-o            

                        //- 上一步
                        button#prev.btn(style='font-size:16px')
                            i.fa.fa-rotate-left

                        //- 下一步
                        //- button#next.btn(style='font-size:16px')
                        //-     i.fa.fa-rotate-right

                        //- 新增文字方塊
                        button#addfont.btn(style='font-size:16px')
                            i.fa.fa-font

                        //- 刪除鍵
                        button#deleteElement.btn(style='font-size:16px')
                            i.fa.fa-solid.fa-trash

                        //- 分享鍵
                        button#share-btn.btn(type='button', data-bs-toggle='modal', data-bs-target='#shareToAllModal', style="font-size:16px")
                            i.bi.bi-share-fill

                        #shareToAllModal.modal.fade(tabindex='-1', aria-labelledby='shareModal', aria-hidden='true')
                          .modal-dialog
                            .modal-content
                              .modal-header
                                h5.modal-title 分享社群
                                button#shareToClose.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close', position="right")
                              #modal-shareToAll-main.modal-body
                                #share_note_name
                                  .form-check.form-switch
                                    label.form-check-label(for='flexSwitchCheckDefault') 分享給其他人您的筆記
                                    input#shareToOther-toggle.form-check-input(type='checkbox', role='switch')
                                  #shareToOhterDetail(style="visibility: hidden")
                                    br
                                    .container
                                      .row.justify-center
                                        .col-12
                                          header
                                          .input-group.mb-3
                                            button.btn.btn-outline-secondary.dropdown-toggle#shareToOtherMethod-btn(type='button', data-bs-toggle='dropdown', aria-expanded='false') 允許觀看
                                            ul#shareToOtherMenu.dropdown-menu.dropdown-menu-end
                                              //- li
                                              //-   a.dropdown-item.disabled(href='#') 允許編輯
                                              li
                                                a.dropdown-item(href='#') 允許留言
                                              li
                                                a.dropdown-item(href='#') 允許觀看
                                            input#addShareOther-input.form-control(type='text', placeholder='欲分享者的email...', aria-label='欲分享者的email', aria-describedby='basic-addon2')
                                            .input-group-append
                                              button#addShareOther-btn.btn.btn-outline-info(type='button') 加入
                                          ul#shareOtherList.list-group
                                  br
                                  br
                                  .form-check.form-switch
                                    label.form-check-label(for='flexSwitchCheckDefault') 分享社群頁面
                                    input#shareToAll-toggle.form-check-input(type='checkbox', role='switch')


                                  #shareToAllDetail(style="visibility: hidden")
                                    input#share_url.form-control(type='text', placeholder='share_url', style="width:90%;display:inline;")
                                    button.btn#copy_shareUrl
                                      i.fa.fa-clipboard(aria-hidden="true")
                                    br
                                    br
                                    .form-check
                                      label.form-check-label(for='flexSwitchCheckDefault') 開放留言
                                      input#allowComment-toggle.form-check-input(type='checkbox')
                                    br
                                    .form-floating
                                      textarea#share_description.form-control(style="height:100px;" placeholder='你會向大家怎麼介紹你的筆記?')
                                      label(for='floatingTextarea') 你會向大家怎麼介紹你的筆記?
                                    br
                                    .mb-3
                                      label.form-label(for='formFile') 封面照片
                                      input#shareNote_image.form-control(type='file')
                                    br
                                    .note_tags
                                      i.fa.fa-tags(style="color:blue;margin:0 10px 0 0;")
                                      | 標籤 (最多不能超過5個)
                                      br
                                      input#tag_input.form-control(type='text', style="width:70%;display:inline;")
                                      button.btn#add_note_tag-btn
                                        i.fa.fa-plus(aria-hidden='true')
                                        span.small 
                                      br
                                      br
                                    br
                                    button.btn.btn-primary#shareToAll_confirm-btn(style="float: right") 變更分享
                                

                        //- 查看留言鍵
                        button.openbtn#annotation-show-btn.btn
                            i.bi.bi-stickies


                        //- 特定人分享頁面
                        button#sharedNote-btn.btn(type='button', data-bs-toggle='modal', data-bs-target='#sharedNoteModal', style="font-size:16px")
                          i.fa.fa-users
                          span#sharedNoteCount.badge.bg-primary.badge-number(style='font-size: 5px;margin: -10px 0 0 -2px;')
                        #sharedNoteModal.modal.fade(tabindex='-1', aria-labelledby='versionModal', aria-hidden='true')
                          .modal-dialog
                            .modal-content
                              .modal-header
                                h5.modal-title 其他人分享給您的筆記
                                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close', position="right")
                              #modal-sharedNote-main.modal-body
                              .modal-footer
                                button#sharedNote-change.btn.btn-primary(type='button') 查看
                        
                        p#auto-save-time.small(style="float: right;margin: 10px 30px 0 0;")

                        #versionModal.modal.fade(tabindex='-1', aria-labelledby='versionModal', aria-hidden='true')
                          .modal-dialog
                            .modal-content
                              .modal-header
                                h5.modal-title 其他版本
                                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close', position="right")
                              #modal-version-main.modal-body
                              .modal-footer
                                button#version-change.btn.btn-primary(type='button') 回復

                        .col-12#update-note-content(width='600px', height='500px')
    a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
      i.bi.bi-arrow-up-short

      script.
        // 修改/刪除/搬移筆記
        $('#changeNoteName').click(async function (){
          await renameNote(current_note_id);
        })
        $('#deleteNote').click(async function (){
          await deleteNote(current_note_id);
        })
        $('#moveNote').click(async function (){
          await moveNote(current_note_id);
        })

        // 跳轉註解編輯頁鍵
        $('#annotation-show-btn').click(async function () {
            if(!current_note_id){
              Swal.fire('請先選擇筆記');
              return;
            }

            window.open(`/sharedToOtherNote/${current_note_id}`);
        })

        // 上傳筆記鍵
       $('#noteUpload-btn').click(async function (){
          window.location.assign('/uploadNote');
       })

        // 刪除物件鍵
        $('#deleteElement').click(function (){
          Swal.fire({
              title: '您確定要刪除選取的物件?',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: '刪除',
              cancelButtonText: '取消'
          }).then((result) => {
              if (result.isConfirmed) {
                  OCR_ids = OCR_ids.filter(n => !OCR_delete_ids.includes(n)); // 更新OCR_ids剩餘的物件
                  const delete_items = $('.highlight');
                  delete_items.map((i, delete_id) => { 
                    const top = delete_items.get(i).style.top;
                    const left = delete_items.get(i).style.left;
                    const val = delete_items.get(i).children[0].value;

                    //- console.log("delete_items.get(i).children[0].value",delete_items.get(i).children[0].value);
                    const item = delete_items.get(i);
                    //- console.log("delete-item:", item, top, left, val);
                    stepAppend(item, 'delete', top, left, val);
                  })

                  // 刪除所有被標記的物件
                  $('#update-note-content').find('.highlight').remove();
              }
          })
        });

        // 回復自動儲存最新版鍵 ------------------------------
        $('#newest-version-btn').click(function (e) {
          e.preventDefault();
          AutoSave.restore('AUTOSAVE');
        });

        // 複製功能
        $('#copy_shareUrl').click(function() {
          const area = $('#share_url');
          area.select();
          document.execCommand('copy');
          Swal.fire({
              icon: 'success',
              title: '已複製到剪貼簿',
              showConfirmButton: false,
              timer: 1000
          })
        })

        // 監聽圖形刪除事件
        $(document).on('dblclick', '.contour-pic', function(e){
            // 一次只能選一個
            let click_element = $('#' + e.currentTarget.id);
            if (click_element.hasClass('highlight')) {
              $('.contour-pic').removeClass('highlight');
              $('.div_addtextarea').removeClass('highlight');
            } else {
              $('.contour-pic').removeClass('highlight');
              $('.div_addtextarea').removeClass('highlight');
              click_element.addClass('highlight');
            }
        });

        // 監聽文字框刪除事件
        $(document).on('dblclick', '.addtextarea', function(e){
            let click_element = e.currentTarget.parentNode;
            let click_id = e.target.id;
  

            // 取消框選
            if (click_element.classList.contains('highlight')) {
              // 一次只能選一個
              $('.contour-pic').removeClass('highlight');
              $('.div_addtextarea').removeClass('highlight');
              if (OCR_delete_ids.indexOf(click_id) !== -1) {
                OCR_delete_ids.splice(click_id, 1);
              }
              // 框選
            } else {
              // 一次只能選一個
              $('.contour-pic').removeClass('highlight');
              $('.div_addtextarea').removeClass('highlight');
              click_element.classList.add('highlight');
              OCR_delete_ids.push(click_id);
            }
        });

        // 監聽文字框修改事件
        $(document).on('input', '.addtextarea', function(e){
            let click_element = e.currentTarget.parentNode;
            let click_id = e.target.id;
            let change_val = e.target.value;
            stepAppend($('#' + click_id), 'input', '', '', change_val);
        });

        
        // TODO: 目前拿掉，監聽圖形dragable 上一步&下一步
        $(document).on('mouseup', '.contour-pic', function(e){
          const element = e.target.parentElement;
          const top = element.style.top;
          const left = element.style.left;
          console.log(element, top, left);
          //- stepAppend(element, 'drag', top, left, '');
        });

        // TODO: 目前拿掉，監聽文字dragable 上一步&下一步
        $(document).on('mouseup', '.div_addtextarea', function(e){
          const element = e.target.parentElement;
          const top = element.style.top;
          const left = element.style.left;
          //- stepAppend(element, 'drag', top, left, '');
        });

        let online_user;
        // 拿取目前在線上的名單
        // 因為只有筆記編輯頁裡的上下線資訊，故放在筆記編輯頁面
        $(document).ready(function() {
          socket.on("users", async (users) => {
            online_user = users;
            // 重新渲染分享頁面
            await getSharedNote(shared_note_obj, $('#modal-sharedNote-main'));
          });
        });


      script(src='/js/user.js')
      script(src='/js/windowLoad.js')
      script(src='/js/note.js')
      script(src='/js/draggable.js')
      script(src='/js/btn.js')
      script(src='/js/restore.js')
      script(src='/js/social.js')
      script(src='/js/search.js')
      script(src='/js/autoSave.js')
      script(src='/js/annotationBar.js')






