extends layout_errorPage.pug
block content
    main
        .container
        section.section.error-404.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center
            h4 請您先登入或註冊
            a(href='/signin') 立刻轉跳登入
            span#redirectMsg
            img.img-fluid.py-5(src='/assets/img/not-found.svg', alt='Not Sign In')

        script.        
            let redirectTime = 3;
            setInterval(() => {
                console.log(redirectTime + '秒後跳轉頁面');
                $('#redirectMsg').text(redirectTime + '秒後跳轉頁面');
                redirectTime--;
                if(redirectTime === 0){
                    window.location.assign("/signin")
                }
            }, 1000);