extends layout_errorPage.pug
block content
    main
        .container
        section.section.error-404.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center
            h4 Please Sign in or Sign up first.
            a.btn(href='/signin') Back to Sign in
            img.img-fluid.py-5(src='assets/img/not-found.svg', alt='Not Sign In')
    // End #main