extends layout.pug

block content

    //- TODO: 加User資訊
    //- #user_pic
    //- #user_name
    #note_pic
    #note_name
    #note_version
    #showShareDetail.showShareDetail

    script.
        elements = !{elements};
        comments = !{comments};
        console.log(elements);
        const elements_html = $.parseHTML(elements.elements);
        $('#showShareDetail').append(elements_html);
        const comments_html = $.parseHTML(comments);
        $('#showShareDetail').append(comments_html);
        $('#note_name').text(elements.note_name);
        $('#note_version').text(elements.version_name);
        const note_pic_url = elements.note_pic;
        $('#note_pic').append($(`<img class="note-pic" src="${note_pic_url}"></img>`));
