extends layout_noSideBar.pug

block content
  body
    main
      .container
        section.section.register.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center.py-4
          .container
            .row.justify-content-center
              .col-lg-4.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
                //- .d-flex.justify-content-center.py-4
                //-   a.logo.d-flex.align-items-center.w-auto(href='/index')
                //-     img(src='assets/img/goodTidy_logo.png', alt='')
                //-     span.d-none.d-lg-block GoodTidy
                // End Logo
                .card.mb-3
                  .card-body
                    h5.card-title.text-center.pb-0.fs-4 註冊頁面
                    br
                      //- p.text-center.small Enter your personal details to create account
                    form.row.g-3.needs-validation(novalidate='')
                      .col-12
                        label.form-label(for='name') 使用者名稱
                        input#signup_username.form-control(type='text', name='name', required='')
                        .invalid-feedback 請您輸入使用者名稱
                      .col-12
                        label.form-label(for='email') 信箱
                        input#signup_useremail.form-control(type='email', name='email', required='')
                        .invalid-feedback 請您輸入Email
                      .col-12
                        label.form-label(for='password') 密碼
                        input#signup_password.form-control(type='password', name='password', required='')
                        .invalid-feedback 請您輸入密碼
                      .col-12
                        label.form-label(for='yourPicture') 大頭貼(非必要)
                        br
                        input#user_picture.form-control(type='file')
                        br
                        //- .invalid-feedback Please upload your user picture.
                      //- .col-12
                      //-   .form-check
                      //-     input#acceptTerms.form-check-input(name='terms', type='checkbox', value='', required='')
                      //-     label.form-check-label(for='acceptTerms')
                      //-       | I agree and accept the 
                      //-       a(href='#') terms and conditions
                      //-     .invalid-feedback You must agree before submitting.

                      .col-12
                        button#signup-form-btn.btn.btn-primary.w-100 創立帳號
                      .col-12
                        p.small.mb-0
                          | 已經有帳號了嗎？ 
                          a(href='/signin') 登入頁面
    // End #main
    a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
      i.bi.bi-arrow-up-short

      script(src='/js/user.js')
      script(src='/js/windowLoad.js')
        
      //- script(src='/js/note.js')
      //- script(src='/js/draggable.js')
      //- script(src='/js/btn.js')
      //- script(src='/js/restore.js')
      //- script(src='/js/preview.js')
      //- script(src='/js/canvas.js')
      //- script(src='/js/social.js')
      //- script(src='/js/search.js')
      //- script(src='/js/autoSave.js')
      //- script(src='/js/annotationBar.js')