extends layout.pug

block content
  .main-block
    main      
      //- modal window -------------------------------
      ul#search-list.list-unstyled.ps-0

        //- Search bar --------------------
        button#search_note_list-btn.btn(type='button', data-bs-toggle='modal', data-bs-target='#searchModal', style='font-size=16px;')
          i.fa.fa-search
        //- Modal
        #searchModal.modal.fade(tabindex='-1', aria-labelledby='searchModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                .input-group
                  .form-outline
                    input#search_note_list.form-control(type='search', placeholder='search...')
                  button.btn.btn-primary(type='button')
                    i.fas.fa-search
                  input#daterange(type="text", name="daterange")
                  button.btn.btn-primary(type='button', data-bs-toggle='button') Only search titles
                  button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
              #modal-main.modal-body
              .modal-footer
      
        //- Version ----------------------------------------
        button#version_list-btn.btn(type='button', data-bs-toggle='modal', data-bs-target='#versionModal', style="font-size:16px")
          i.fa.fa-solid.fa-code-fork
        //- Modal
        #versionModal.modal.fade(tabindex='-1', aria-labelledby='versionModal', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                .input-group
                  .form-outline
                  h5.modal-title Version
                  //- button.btn.btn-primary(type='button', data-bs-toggle='button') Only search titles
                  button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close', position="right")
              #modal-version-main.modal-body
              .modal-footer
                button#version-change.btn.btn-primary(type='button') Change
    
    //- 筆記編輯區塊 -------------------------------------------
    .update-note-block
      .update-note-nav
        //- Note upload
        ul.list-unstyled.ps-0(width="90%")
          button#noteUpload-btn(type='button', data-bs-toggle='modal', data-bs-target='#noteUploadModal', style="font-size:16px")
            i.fa.fa-solid.fa-upload
          //- Modal
          #noteUploadModal.modal.fade(tabindex='-1', aria-labelledby='noteUploadModal', aria-hidden='true')
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  .input-group
                    .form-outline
                    h5.modal-title Upload
                    //- button.btn.btn-primary(type='button', data-bs-toggle='button') Only search titles
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close', position="right")
                #modal-noteUpload-main.modal-body
                  .OCR-block
                    h1 文字辨識 & 圖形圈選
                    // 檔案上傳/預覽區塊
                    form(runat='server')
                      input#imgInp(accept='image/*', type='file')
                      img#blah(src='#', alt='your image', hidden='')
                    .OCR-nav
                      //
                        <button id="pre">上一步</button>
                        <button id="next">下一步</button>
                      button#shapeRemoveBG(disabled='') RemoveBG
                      button#removeNotWant RemoveNotFont
                      button#OCR OCR
                      // <button id="magicContour">圖形圈選</button>
                      button#rectContour rectContour
                      button#shapeView shapeView
                      button#reDraw reDraw
                    // Canvas
                    .OCR-preview
                      canvas#fontOCRCanvas(width='600px', height='500px')
                  .note-preview-block
                    h1 筆記預覽
                    .processed-content-nav
                      input#note-name(type='text', placeholder='筆記名稱')
                      input#note-classification(type='text', placeholder='筆記分類')
                      button#submit_note Upload      
        
        //- prev step
        button#prev(style='font-size:16px')
          i.fa.fa-rotate-left

        //- next step
        button#next(style='font-size:16px')
          i.fa.fa-rotate-right

        //- add Text
        button#addfont(style='font-size:16px')
          i.fa.fa-font

        //- saveNote
        button#storeNote(style='font-size:16px')
          i.fa.fa-floppy-o

        //- Delete
        button#deleteNote(disabled='', style='font-size:16px')
          i.fa.fa-solid.fa-trash

        //- Share
        button#share-btn(style="font-size:16px")
          i.fa.fa-solid.fa-share

        //- Message sidePanel
        #mySidepanel.sidepanel
          a.closebtn(href='javascript:void(0)', onclick='closeNav()') &times;
          a(href='#') About
          a(href='#') Services
          a(href='#') Clients
          a(href='#') Contact
        button.openbtn(onclick='openNav()')
          i.fa.fa-solid.fa-comments

        //- AutoSave
        input#autoSave_box(type='checkbox', name='autoSave', value='autoSave')
        | AutoSave
        button#newest-version-btn(style="font-size:16px")
          i.fa.fa-solid.fa-refresh
                  
      //- Show the autoSave time notification
      span#auto-save-time
      #update-note-content.update-note-content