body
    // ======= Header =======
    header#header.header.fixed-top.d-flex.align-items-center
      .d-flex.align-items-center.justify-content-between
        //- i.bi.bi-list.toggle-sidebar-btn
        a.logo.d-flex.align-items-center(href='/note')
          img(src='https://goodtidy.s3.amazonaws.com/logo/goodTidy_logo.png', alt='')
          span.d-none.d-lg-block GoodTidy
        
      // End Logo
      //- .search-bar
      //-   form.search-form.d-flex.align-items-center(method='POST', action='#')
      //-     input(type='text', name='query', placeholder='Search', title='Enter search keyword')
      //-     button(type='submit', title='Search')
      //-       i.bi.bi-search
      // End Search Bar
      nav.header-nav.ms-auto
        ul.d-flex.align-items-center
          li.nav-item.d-block.d-lg-none
            a.nav-link.nav-icon.search-bar-toggle(href='#')
              i.bi.bi-search
          // End Search Icon
          //- 筆記頁面 Icon
          li.nav-item
            a.nav-link.nav-icon(href='/note')
                i.bi.bi-book

          //- 社群頁面 Icon
          li.nav-item
            a.nav-link.nav-icon(href='/socialPage?paging=1&sorting=created_time')
                i.bi.bi-people

          //- //- 小鈴鐺 Icon
          //- li.nav-item.dropdown
          //-   a.nav-link.nav-icon(href='#', data-bs-toggle='dropdown')
          //-     i.bi.bi-bell
          //-     span.badge.bg-primary.badge-number 4
          //-   // End Notification Icon
          //-   ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.notifications
          //-     li.dropdown-header
          //-       | You have 4 new notifications
          //-       a(href='#')
          //-         span.badge.rounded-pill.bg-primary.p-2.ms-2 View all
          //-     li
          //-       hr.dropdown-divider
          //-     li.notification-item
          //-       i.bi.bi-exclamation-circle.text-warning
          //-       div
          //-         h4 Lorem Ipsum
          //-         p Quae dolorem earum veritatis oditseno
          //-         p 30 min. ago
          //-     li
          //-       hr.dropdown-divider
          //-     li.notification-item
          //-       i.bi.bi-x-circle.text-danger
          //-       div
          //-         h4 Atque rerum nesciunt
          //-         p Quae dolorem earum veritatis oditseno
          //-         p 1 hr. ago
          //-     li
          //-       hr.dropdown-divider
          //-     li.notification-item
          //-       i.bi.bi-check-circle.text-success
          //-       div
          //-         h4 Sit rerum fuga
          //-         p Quae dolorem earum veritatis oditseno
          //-         p 2 hrs. ago
          //-     li
          //-       hr.dropdown-divider
          //-     li.notification-item
          //-       i.bi.bi-info-circle.text-primary
          //-       div
          //-         h4 Dicta reprehenderit
          //-         p Quae dolorem earum veritatis oditseno
          //-         p 4 hrs. ago
          //-     li
          //-       hr.dropdown-divider
          //-     li.dropdown-footer
          //-       a(href='#') Show all notifications
          //-   // End Notification Dropdown Items
          //- // End Notification Nav
          //- li.nav-item.dropdown
          //-   a.nav-link.nav-icon(href='#', data-bs-toggle='dropdown')
          //-     i.bi.bi-chat-left-text
          //-     span.badge.bg-success.badge-number 3
          //-   // End Messages Icon
          //-   ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.messages
          //-     li.dropdown-header
          //-       | You have 3 new messages
          //-       a(href='#')
          //-         span.badge.rounded-pill.bg-primary.p-2.ms-2 View all
          //-     li
          //-       hr.dropdown-divider
          //-     li.message-item
          //-       a(href='#')
          //-         img.rounded-circle(src='/assets/img/messages-1.jpg', alt='')
          //-         div
          //-           h4 Maria Hudson
          //-           p
          //-             | Velit asperiores et ducimus soluta repudiandae labore
          //-             | officia est ut...
          //-           p 4 hrs. ago
          //-     li
          //-       hr.dropdown-divider
          //-     li.message-item
          //-       a(href='#')
          //-         img.rounded-circle(src='/assets/img/messages-2.jpg', alt='')
          //-         div
          //-           h4 Anna Nelson
          //-           p
          //-             | Velit asperiores et ducimus soluta repudiandae labore
          //-             | officia est ut...
          //-           p 6 hrs. ago
          //-     li
          //-       hr.dropdown-divider
          //-     li.message-item
          //-       a(href='#')
          //-         img.rounded-circle(src='/assets/img/messages-3.jpg', alt='')
          //-         div
          //-           h4 David Muldon
          //-           p
          //-             | Velit asperiores et ducimus soluta repudiandae labore
          //-             | officia est ut...
          //-           p 8 hrs. ago
          //-     li
          //-       hr.dropdown-divider
          //-     li.dropdown-footer
          //-       a(href='#') Show all messages
          //-   // End Messages Dropdown Items
          //- // End Messages Nav
            
          li.nav-item.dropdown.pe-3
            a.nav-link.nav-profile.d-flex.align-items-center.pe-0(href='#', data-bs-toggle='dropdown')
              if picture
                img.rounded-circle(src=picture, alt='Profile')
              else
                img.rounded-circle(src="/assets/img/user.png", alt='Profile')
              if name
                span.d-none.d-md-block.dropdown-toggle.ps-2=name
              else
                span.d-none.d-md-block.dropdown-toggle.ps-2 Sign in
            // End Profile Iamge Icon
            ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow.profile
              li.dropdown-header
                h6=name
                span=email
              li
                hr.dropdown-divider
              li
                a.dropdown-item.d-flex.align-items-center(href='/profile')
                  i.bi.bi-person
                  span My Profile
              li
                hr.dropdown-divider
              li
                a.dropdown-item.d-flex.align-items-center(href='/signin')
                  i.bi.bi-box-arrow-in-right
                  span Sign in
              li
                hr.dropdown-divider
              li
                a.dropdown-item.d-flex.align-items-center(href='/signup')
                  i.bi.bi-journal
                  span Sign up
              li
                hr.dropdown-divider
              li
                a#logout-btn.dropdown-item.d-flex.align-items-center(style="cursor:pointer")
                  i.bi.bi-box-arrow-right
                  span Log Out
            // End Profile Dropdown Items
          // End Profile Nav
      // End Icons Navigation
    // End Header